.page-servicos {
  margin-top: 100px;
  margin-bottom: 140px;
}
.title {
  text-align: center;
}

.custom-card {
  background-color: #1e1e1e;
  color: white;
  margin-top: 40px;
  padding-top: 20px;
  border: none;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(255, 200, 100, 0.1);
}

.btn-home {
  color: white;
  background: #059bcd;
  padding: 13px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s ease, transform 0.2s ease;
}

.btn-home:hover {
  background: #047ba1;
  transform: scale(1.03);
  cursor: pointer;
}

.card {
  box-shadow: 0 1px 4px 1px #21212133;
}

.sub-title {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.line-glow {
  width: 257px;
  height: 4px;
  margin: 0 auto;
  border-radius: 10px;
  background: #059bcd;
  box-shadow: 0 0 10px #059bcd, 0 0 20px #059bcd, 0 0 30px #059bcd;
}

.title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 3px;
}

.sub-title {
  margin-top: 30px;
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 30px;
}

.card-title {
  font-weight: 700;
}

.line-btn {
  display: flex;
  justify-content: space-between;
}

.card-body-center {
  display: flex;
  flex-direction: column;
  justify-content: center; /* centraliza verticalmente */
  align-items: center; /* centraliza horizontalmente */
  text-align: center;
  height: 100%; /* necessário se quiser centralização vertical total */
}

.card-img-top {
  height: 250px; /* ou qualquer altura que você quiser */
  object-fit: cover; /* corta a imagem e mantém proporção */
  width: 100%; /* garante que ocupe toda a largura */
}

.margin {
  margin-top: 120px;
}
