<div class="row margin">
  <h3 class="title">Nossos serviços</h3>
  <p class="sub-title">
    Soluções completas em impressão, locação e manutenção de impressoras
  </p>
</div>
<div class="line-btn">
  <div class="card" style="width: 25rem">
    <img
      class="card-img-top"
      src="../../../assets/cartucho-compra.png"
      alt="Card image cap"
    />
    <div class="card-body card-body-center">
      <h5 class="card-title">COMPRAR</h5>
      <p class="card-text"></p>

      <button class="btn-home" [routerLink]="'/comprar'" type="button">
        SAIBA MAIS
      </button>
    </div>
  </div>

  <div class="card" style="width: 25rem">
    <img
      class="card-img-top"
      src="../../../assets/aluguel.png"
      alt="Card image cap"
    />
    <div class="card-body card-body-center">
      <h5 class="card-title">ALUGAR</h5>
      <p class="card-text"></p>
      <button class="btn-home" [routerLink]="'/alugar'" type="button">
        SAIBA MAIS
      </button>
    </div>
  </div>
  <div class="card" style="width: 25rem">
    <img
      class="card-img-top"
      src="../../../assets/conserto-de-impressora-hp-contato.jpg"
      alt="Card image cap"
    />
    <div class="card-body card-body-center">
      <h5 class="card-title">MANUTENÇÃO</h5>
      <p class="card-text"></p>

      <button class="btn-home" [routerLink]="'/manutencao'" type="button">
        SAIBA MAIS
      </button>
    </div>
  </div>
</div>
