.navbar {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 15px;
  border-radius: 15px;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 30px;
}

.blue {
  /* background: #fde421; */
}

.btn-home {
  color: white;
  background: #059bcd;
  padding: 13px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s ease, transform 0.2s ease;
}

.btn-home:hover {
  background: #047ba1;
  transform: scale(1.03);
  cursor: pointer;
}

.navbar-logo {
  height: 60px;
  width: auto;
}

.btn-orcamento {
  color: white;
  background: #059bcd;
  padding: 13px;
  border-radius: 5px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.btn-orcamento:hover {
  background: #047ba1;
  transform: scale(1.03);
  cursor: pointer;
}

a {
  font-weight: bold;
  color: black;
  transition: all 0.3s ease;
}

a:hover {
  color: white;
  background: #059bcd;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.zap-icon {
  color: red;
}

.flex {
  display: flex;
  gap: 15px;
}

.contatos {
  margin-top: 10px;
}
