<h3 class="title">QUEM SOMOS</h3>
<div class="line-glow"></div>

<div class="d-flex menu">
  <div class="border-end menu" style="width: 30%">
    <ul class="nav flex-column">
      <li class="nav-item" *ngFor="let item of menuItems; let i = index">
        <a
          class="nav-link"
          [ngClass]="{ active: selectedIndex === i }"
          href="#"
          (click)="selectItem(i, $event)"
        >
          {{ item.title }}
        </a>
      </li>
    </ul>
  </div>

  <div class="p-4" style="width: 70%">
    <ng-container [ngSwitch]="selectedIndex">
      <div *ngSwitchCase="0">
        <h4>Equipe</h4>
        <p>Aqui vai a descrição da equipe com fotos.</p>
      </div>
      <div *ngSwitchCase="1">
        <h4>Dados cadastrais</h4>
        <p>Aqui vão os dados cadastrais.</p>
      </div>
      <div *ngSwitchCase="2">
        <h4>História</h4>
        <p>Conte a história da empresa aqui.</p>
      </div>
      <div *ngSwitchCase="3">
        <h4>Missão, Visão, Propósito e Valores</h4>
        <p>Insira até quando precisa enviar as informações...</p>
      </div>
      <div *ngSwitchCase="4">
        <h4>Política Comercial</h4>
        <p>Detalhes da política comercial.</p>
      </div>
      <div *ngSwitchCase="5">
        <h4>Política de Garantia</h4>
        <p>Detalhes sobre garantia.</p>
      </div>
      <div *ngSwitchDefault>
        <p>Selecione um item do menu para ver o conteúdo.</p>
      </div>
    </ng-container>
  </div>
</div>
