.title {
  margin-top: 50px;
  margin-left: 16px;
  font-weight: 700;
}

.line-glow {
  margin-left: 16px;
  width: 114px;
  height: 4px;
  border-radius: 10px;
  background: #059bcd;
  box-shadow: 0 0 10px #059bcd, 0 0 20px #059bcd, 0 0 30px #059bcd;
}
.aluguel-container {
  margin-top: 33px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 15px;
  margin-left: 32px;
}

.bg-ciano {
  background: linear-gradient(
    135deg,
    #00bfff,
    #059bcd
  ); /* Azul ciano para rosa */
}

.btn-home {
  color: white;
  background: #059bcd;
  padding: 13px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s ease, transform 0.2s ease;
}

.btn-home:hover {
  background: #047ba1;
  transform: scale(1.03);
  cursor: pointer;
}
