<div class="container-fluid pb-0 mb-0 justify-content-center text-light">
  <footer class="bg-dark text-light pt-4 pb-3 mt-5">
    <div class="container">
      <div class="row">
        <!-- Localização e Contatos -->
        <div class="col-md-4 mb-4">
          <h5>Localização e Contatos</h5>
          <p>
            Rua Bôrtolo Basso, 95 – Sala 02<br />
            Centro – São Bernardo do Campo – SP<br />
            CEP: 09720-590 – Brasil
          </p>
          <p>
            Telefone: (11) 2897-4251<br />
            Telefone: (11) 2897-4256<br />
            Celular: (11) 98986-1526
          </p>
        </div>

        <!-- Nossos Dados -->
        <div class="col-md-4 mb-4">
          <h5>Nossos Dados</h5>
          <p>Razão Social: Bocaletto Com. Máquinas e Suprim. Inf. Ltda.</p>
          <p>CNPJ: 05.006.852/0001-00</p>
          <p>Inscrição Estadual: 635.504.599.110</p>
        </div>

        <!-- Mídias Sociais -->
        <div class="col-md-4 mb-4">
          <h5>Mídias Sociais</h5>
          <a
            href="https://www.instagram.com/bocaletto_suprimentos/"
            target="_blank"
            class="d-block text-light mb-1"
          >
            <i class="bi bi-instagram"></i> Instagram
          </a>
        </div>
      </div>

      <hr class="bg-light" />
      <p class="text-center mb-0">
        © 2025 Bocaletto - Todos os direitos reservados.
      </p>
    </div>
  </footer>
</div>
