<div class="row align-items-center home">
  <div class="col-sm">
    <h1>Suprimentos e Soluções em Impressão para Sua Empresa</h1>
    <p>
      teste teste teste teste teste teste teste teste teste teste teste teste
      teste teste teste teste teste teste
    </p>
    <button class="btn-home">CONHEÇA NOSSOS PRODUTOS</button>
  </div>
  <div class="col-sm d-flex justify-content-center">
    <img
      src="../../../assets/impressora-home.png"
      alt="Impressora"
      class="img-fluid"
    />
  </div>
</div>

<div class="container-logo-slider">
  <h3 class="title-slider">TRABALHAMOS COM AS MELHORES MARCAS DO MERCADO</h3>
  <div class="logo-slider">
    <div class="logo-track">
      <img src="../../../assets/hp-logo.png" alt="Marca 1" />
      <img src="../../../assets/samsung-logo.png" alt="Marca 2" />
      <img src="../../../assets/hp-logo.png" alt="Marca 1" />
      <img src="../../../assets/samsung-logo.png" alt="Marca 2" />
      <img src="../../../assets/samsung-logo.png" alt="Marca 2" />
      <img src="../../../assets/samsung-logo.png" alt="Marca 2" />
      <img src="../../../assets/samsung-logo.png" alt="Marca 2" />
      <img src="../../../assets/samsung-logo.png" alt="Marca 2" />

      <img src="../../../assets/hp-logo.png" alt="Marca 1" />
      <img src="../../../assets/samsung-logo.png" alt="Marca 2" />
      <img src="../../../assets/hp-logo.png" alt="Marca 1" />
      <img src="../../../assets/samsung-logo.png" alt="Marca 2" />
      <img src="../../../assets/samsung-logo.png" alt="Marca 2" />
      <img src="../../../assets/samsung-logo.png" alt="Marca 2" />
      <img src="../../../assets/samsung-logo.png" alt="Marca 2" />
      <img src="../../../assets/samsung-logo.png" alt="Marca 2" />
    </div>
  </div>
</div>

<div class="section-servicos">
  <app-servicos></app-servicos>
</div>
