.card-title {
  font-weight: 700;
}

.title-product {
  font-weight: 700;
}

.btn-orcamento {
  color: white;
  background: #059bcd;
  padding: 13px;
  border-radius: 5px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.btn-orcamento:hover {
  background: #047ba1;
  transform: scale(1.03);
  cursor: pointer;
}

.produto-detalhe-box {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
}
