.title {
  margin-top: 50px;
  margin-left: 16px;
  font-weight: 700;
}

.line-glow {
  margin-left: 16px;
  width: 142px;
  height: 4px;
  border-radius: 10px;
  background: #059bcd;
  box-shadow: 0 0 10px #059bcd, 0 0 20px #059bcd, 0 0 30px #059bcd;
}
´ .list-group-item {
  border: none;
  border-radius: 8px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #333;
  background-color: #f8f9fa;
  transition: all 0.3s ease;
}

.list-group-item:hover {
  background-color: #e4f5fb;
  color: #059bcd;
}

.list-group-item.active {
  background: #059bcd !important;
  color: white !important;
}

.duvida-container {
  background: linear-gradient(to right, #047ba1, #059bcd);
  border-radius: 8px;
  color: #fff;
  padding: 1.5rem;
  margin-top: 2rem;
}

.duvida-container h4 {
  font-weight: bold;
  margin-bottom: 0;
}

.duvida-container a {
  color: #fff;
  text-decoration: underline;
}

.duvida-container a:hover {
  text-decoration: none;
  opacity: 0.9;
}

@media (min-width: 768px) {
  .duvida-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .duvida-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .duvida-container h4 {
    margin-bottom: 1rem;
  }
}
